@import "normalize.css";
@import "_variables.css";
@import "_mixins.css";
/* ============================================= G L O B A L S =========================================== */

body {
    
}


.banner{
    width:100%;
    background-color: #313131;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 70px;
    color:white;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #ffcc00;
    text-align: center;
    margin-bottom: 30px;
    &_button{
        width:100px;
        background-color: #ffcc00;

        padding: 30px 0px 30px 0px;
        border: 0px;
        border:none;
        outline:none;
        &:hover{
            background-color: #e6b800;
            color:white;
            cursor:pointer;
        }

    }
}
.horizontal_line{
    height:5px;
    background-color:#c5c5c5;
    width:900px;
    border:0px;
}
.main{
    display: flex;
    flex-direction: column;
    iframe{
        align-self:center;
        margin: 30px 0px 30px 0px;
    }
    p{
        text-align: center;
        line-height: 3rem;
    }
}
.picture{
    width:900px;
    height:700px;
    background-color: red;
    align-self: center;
    margin: 30px 0px 30px 0px;
    img{
        width:100%;
        height:100%;
    }
}
.description{
    width:900px;
    align-self: center;
    display: flex;
    text-align: justify;
    margin: 30px 0px 30px 0px;
    text-indent: 2rem;
    line-height: 2rem;
    color: rgb(36, 64, 97);
    p{
        margin:10px;
    }
    &_left{
        width:50%;
        padding:10px;
    }
    &_right{
        width:50%;
        padding:10px;
    }
}
.footer{
    background-color: #313131;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    margin-top: 30px;
    padding: 40px 0px 40px 0px;
    color: white;
    line-height: 3rem;

    a{
        color:white;
        text-decoration:none;
    }
    
    &_yellow{
        color:yellow;
        text-decoration: bold;
    }
    &_left{

        width:20%;
        padding:10px;
    }
    &_right{

        width:20%;
        padding:10px;
    }
}
/* ============================================= S E K C J E =========================================== */
